# Exercises for "Hands-on with Pydata: How to Build a Minimal Recommendation Engine"

# Systems check: imports and files

In [1]:
import numpy as np
import pandas as pd

# Pandas questions: Series and DataFrames
## 1. Adding a column in a DataFrame

In [2]:
# given the following DataFrame, add a new column to it
df = pd.DataFrame({'col1': [1,2,3,4]})
df['col2'] = [5, 6, 7, 8]
df

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

## 2. Deleting a row in a DataFrame

In [3]:
# given the following DataFrame, delete row 'd' from it
df = pd.DataFrame({'col1': [1,2,3,4]}, index = ['a','b','c','d'])
df = df.drop('d', axis=0)
df

   col1
a     1
b     2
c     3

## 3. Creating a DataFrame from a few Series

In [4]:
# given the following three Series, create a DataFrame such that it holds them as its columns
ser_1 = pd.Series(np.random.randn(6))
ser_2 = pd.Series(np.random.randn(6))
ser_3 = pd.Series(np.random.randn(6))
pd.DataFrame(data={'col1':ser_1, 'col2':ser_2, 'col3':ser_3})

       col1      col2      col3
0  2.045906 -0.555401  1.665730
1  1.193948  0.414320 -1.344126
2 -0.411044  0.915403 -0.677804
3 -0.299997  1.018162  0.770594
4 -1.586257 -1.151258 -0.151055
5  0.581915  0.083280 -1.306863

# Pandas questions: Indexing

## 1. Indexing into a specific column

In [5]:
# given the following DataFrame, try to index into the 'col_2' column
df = pd.DataFrame(data={'col_1': [0.12, 7, 45, 10], 'col_2': [0.9, 9, 34, 11]},
                  columns=['col_1', 'col_2', 'col_3'],
                  index=['obs1', 'obs2', 'obs3', 'obs4'])
df

      col_1  col_2 col_3
obs1   0.12    0.9   NaN
obs2   7.00    9.0   NaN
obs3  45.00   34.0   NaN
obs4  10.00   11.0   NaN

In [6]:
df[['col_2']]

      col_2
obs1    0.9
obs2    9.0
obs3   34.0
obs4   11.0

## 2. Label-based indexing

In [7]:
# using the same DataFrame, index into the row whose index is 'obs3'
df.loc[['obs3']]

      col_1  col_2 col_3
obs3   45.0   34.0   NaN

## 2. Position-based indexing

In [8]:
# using the same DataFrame, index into into its first row
df.iloc[[0]]

      col_1  col_2 col_3
obs1   0.12    0.9   NaN

# Mini-Challenge prep: data loading

## 1. How to load the `users` and `movies` portions of MovieLens

In [9]:
import pandas as pd

users = pd.read_table('data/ml-1m/users.dat',
                      sep='::', header=None,
                      names=['user_id', 'gender', 'age', 'occupation', 'zip'])

movies = pd.read_table('data/ml-1m/movies.dat',
                       sep='::', header=None,
                       names=['movie_id', 'title', 'genres'])

C:\Users\smaiya\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """
C:\Users\smaiya\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:9: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

## 2. How to load the training and testing subsets

In [10]:
# subset version (hosted notebook)
movielens_train = pd.read_csv('data/movielens_train.csv', index_col=0, encoding='latin1')
movielens_test = pd.read_csv('data/movielens_test.csv', index_col=0, encoding='latin1')

In [11]:
movielens_train.head()

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres,for_testing
593263,3562,3798,4,967332344,F,25,6,32812,What Lies Beneath (2000),Thriller,False
235597,1051,3793,4,974958593,F,25,0,60513,X-Men (2000),Action|Sci-Fi,False
219003,3727,2366,3,966309522,M,35,7,74401,King Kong (1933),Action|Adventure|Horror,False
685090,4666,1094,3,963843918,M,35,1,53704,"Crying Game, The (1992)",Drama|Romance|War,False
312377,3261,1095,4,968251750,M,45,20,87505,Glengarry Glen Ross (1992),Drama,False

In [12]:
movielens_test.head()

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres,for_testing
693323,4653,2648,4,975532459,M,35,12,95051,Frankenstein (1931),Horror,False
24177,2259,1270,4,974591524,F,56,16,70503,Back to the Future (1985),Comedy|Sci-Fi,False
202202,3032,1378,5,970343147,M,25,0,47303,Young Guns (1988),Action|Comedy|Western,False
262003,3029,2289,4,972846393,M,18,4,92037,"Player, The (1992)",Comedy|Drama,False
777848,4186,2403,3,1017931262,M,25,7,33308,First Blood (1982),Action,False

# Mini-Challenge prep: evaluation functions

These are the two functions that you will need to test your `estimate` method.

In [13]:
def compute_rmse(y_pred, y_true):
    """ Compute Root Mean Squared Error. """
    
    return np.sqrt(np.mean(np.power(y_pred - y_true, 2)))

In [14]:
def evaluate(estimate_f):
    """ RMSE-based predictive performance evaluation with pandas. """
    
    ids_to_estimate = zip(movielens_test.user_id, movielens_test.movie_id)
    estimated = np.array([estimate_f(u,i) for (u,i) in ids_to_estimate])
    real = movielens_test.rating.values
    return compute_rmse(estimated, real)

Test a dummy solution!

In [15]:
def my_estimate_func(user_id, movie_id):
    return 3.0

You can test for performance with the following line, which assumes that your function is called `my_estimate_func`:

In [16]:
print ('RMSE for my estimate function: %s' % evaluate(my_estimate_func))

RMSE for my estimate function: 1.2323719526527521

In [23]:
user_info = users.set_index('user_id')

# Reco systems questions: Minimal reco engine v1.0

## 1. Simple collaborative filtering using mean ratings

In [17]:
# write an 'estimate' function that computes the mean rating of a particular user
def collab_mean(user_id, movie_id):
    item_condition = movielens_train.movie_id == movie_id
    user_condition = movielens_train.user_id != user_id
    ratings_by_others = movielens_train.loc[item_condition & user_condition, 'rating']
    if ratings_by_others.empty:
        return 3.0
    else:
        return ratings_by_others.mean()

    
# try it out for a user_id, movie_id pair
print(collab_mean(4653, 2648))
print ('RMSE for my estimate function: %s' % evaluate(collab_mean))

4.0
RMSE for my estimate function: 1.1234279896011794

# Mini-Challenge: first round
Implement an `estimate` function of your own using other similarity notions, eg.:

- collaborative filter based on age similarities
- collaborative filter based on zip code similarities
- collaborative filter based on occupation similarities
- content filter based on movie genre

In [54]:
class CollabAgeReco:
    def learn(self):
        self.mean_by_age = movielens_train.pivot_table(values='rating', index='movie_id', columns='age')
        
    def estimate(self, user_id, movie_id):
        if movie_id not in self.mean_by_age.index:
            return 3.0
        user_age = user_info.loc[user_id, 'age']
        if np.isnan(self.mean_by_age.loc[movie_id, user_age]):
            return self.mean_by_age.loc[movie_id].dropna().mean()
        else:
            return self.mean_by_age.loc[movie_id, user_age]

In [58]:
class CollabZipReco:
    def learn(self):
        self.mean_by_zip = movielens_train.pivot_table(values='rating', index='movie_id', columns='zip')
        
    def estimate(self, user_id, movie_id):
        if movie_id not in self.mean_by_zip.index:
            return 3.0
        user_zip = user_info.loc[user_id, 'zip']
        if np.isnan(self.mean_by_zip.loc[movie_id, user_zip]):
            return self.mean_by_zip.loc[movie_id].dropna().mean()
        else:
            return self.mean_by_zip.loc[movie_id, user_zip]

In [59]:
class CollabOccupationReco:
    def learn(self):
        self.mean_by_occupation = movielens_train.pivot_table(values='rating', index='movie_id', columns='occupation')
        
    def estimate(self, user_id, movie_id):
        if movie_id not in self.mean_by_occupation.index:
            return 3.0
        user_occupation = user_info.loc[user_id, 'occupation']
        if np.isnan(self.mean_by_occupation.loc[movie_id, user_occupation]):
            return self.mean_by_occupation.loc[movie_id].dropna().mean()
        else:
            return self.mean_by_occupation.loc[movie_id, user_occupation]

In [55]:
reco = CollabAgeReco()
reco.learn()
print ('RMSE for my estimate function: %s' % evaluate(reco.estimate))

RMSE for my estimate function: 1.2052013344107597

In [60]:
reco = CollabZipReco()
reco.learn()
print ('RMSE for my estimate function: %s' % evaluate(reco.estimate))

RMSE for my estimate function: 1.1256640319176328

In [61]:
reco = CollabOccupationReco()
reco.learn()
print ('RMSE for my estimate function: %s' % evaluate(reco.estimate))

RMSE for my estimate function: 1.202876964364191

# Mini-Challenge: second round
Implement an `estimate` function of your own using other custom similarity notions, eg.:

- euclidean
- cosine